.container{
    max-width: 1320px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.d-db{
    display: block;
}
.d-flex{
    display: flex;
}

.d-jcsb{
    justify-content: space-between;
}

.d-aic{
    align-items: center;
}

.tac{
    text-align: center;
}