@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;400;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* google font */
body {
  font-family: 'Roboto', 'Noto Sans TC', Arial, sans-serif; }

/* Border-box */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

/* img rwd */
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

a {
  text-decoration: none;
  color: #ffff; }

.container {
  max-width: 1320px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto; }

.d-db {
  display: block; }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.d-jcsb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.d-aic {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.tac {
  text-align: center; }

header {
  background: #AA0601; }

.navbar {
  min-height: 80px; }
  .navbar h1 a {
    width: 80px;
    height: 49px;
    background-image: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/logo-white.png");
    background-size: 80px 49px;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap; }

.nav-menu {
  gap: 60px; }

.nav-link {
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease; }

.hamburger {
  display: none;
  cursor: pointer; }

.material-icons.md-light {
  color: white; }

.material-icons.md-40 {
  font-size: 40px; }

@media (max-width: 992px) {
  .navbar {
    padding: 0 36px; }
  .nav-menu {
    gap: 64px; } }

@media (max-width: 766px) {
  .navbar {
    padding: 0 16px; }
  .hamburger {
    display: block; }
  .nav-menu {
    position: fixed;
    top: -100%;
    left: 0px;
    z-index: 1;
    gap: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #262626;
    width: 100%;
    text-align: center;
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out; }
  .nav-item {
    margin: 16px 0; }
  .active {
    top: 80px; } }

.md-36 {
  font-size: 36px; }

a:hover {
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  font-weight: bold;
  color: black; }

.footer {
  min-height: 353px;
  background: #AA0601;
  color: white; }
  @media (max-width: 992px) {
    .footer {
      min-height: 353px; }
      .footer .container {
        padding: 0 36px; } }
  @media (max-width: 766px) {
    .footer {
      min-height: 232px; }
      .footer .container {
        padding: 0 16px; }
      .footer .footer_menu {
        display: none; } }
  .footer .footer_menu {
    margin-top: 60px;
    margin-bottom: 36px;
    gap: 48px;
    line-height: 24px;
    font-size: 16px; }
    @media (max-width: 992px) {
      .footer .footer_menu {
        margin-bottom: 32px; } }
  .footer .footer_info {
    line-height: 54px;
    font-size: 36px;
    padding-bottom: 32px; }
    .footer .footer_info span {
      margin-right: 22px;
      vertical-align: -5px; }
    @media (max-width: 766px) {
      .footer .footer_info {
        margin-top: 24px;
        line-height: 24px;
        font-size: 16px; }
        .footer .footer_info span {
          margin-right: 11px;
          vertical-align: -2px;
          font-size: 18px; } }
  .footer .footer_icon {
    margin-top: 48px;
    gap: 32px; }
    .footer .footer_icon img {
      width: 48px; }
      .footer .footer_icon img:hover {
        -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
                transform: scale(1.1); }
    @media (max-width: 992px) {
      .footer .footer_icon {
        gap: 16px; }
        .footer .footer_icon img {
          width: 40px; } }
    @media (max-width: 766px) {
      .footer .footer_icon {
        margin-top: 24px;
        gap: 8px; }
        .footer .footer_icon img {
          width: 24px; } }
  .footer .footer_copyright {
    padding-top: 32px;
    border-top: 1px solid white;
    line-height: 24px;
    font-size: 16px; }
    @media (max-width: 766px) {
      .footer .footer_copyright {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
  .footer .footer_law {
    gap: 48px;
    line-height: 21px;
    font-size: 14px; }
    @media (max-width: 766px) {
      .footer .footer_law {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 8px;
        margin-top: 8px; } }

.QA {
  margin-top: 96px;
  padding-bottom: 48px; }
  .QA h1 {
    line-height: 72px;
    font-size: 48px;
    font-weight: bold;
    padding-left: 12px;
    border-left: 8px solid #AA0601;
    margin-bottom: 32px; }
  .QA h2 {
    line-height: 36px;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 24px; }
  .QA h3 {
    line-height: 30px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px; }
  .QA p {
    line-height: 24px;
    font-size: 16px;
    margin-bottom: 32px; }

.bd-r {
  border-right: 1px solid #DCDCDC; }

.bg-col-brdark {
  background: #5F3E2D; }

.bg-col-brlight {
  background: #B75929; }

.bg-col-gray {
  background: #F2F2F2; }

@media (max-width: 992px) {
  .container {
    padding-left: 36px;
    padding-right: 36px; } }

@media (max-width: 766px) {
  .container {
    padding-left: 13px;
    padding-right: 13px; } }

@media (max-width: 992px) {
  .glassMenu .container {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0; } }

.glassMenu ul {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center; }

.glassMenu li {
  width: 33.333%;
  font-size: 32px;
  min-height: 96px;
  padding-top: 24px;
  border-left: 1px solid #DCDCDC;
  border-bottom: 1px solid #DCDCDC; }
  .glassMenu li:hover {
    border-bottom: 8px solid #AA0601; }
  @media (max-width: 766px) {
    .glassMenu li {
      line-height: 24px;
      font-size: 16px;
      padding-top: 16px;
      min-height: 56px; } }

.sunglass_banner img {
  width: 50%; }
  @media (max-width: 992px) {
    .sunglass_banner img {
      height: 296px; } }
  @media (max-width: 766px) {
    .sunglass_banner img {
      height: 136px; } }

.sunglass_list {
  margin-top: 80px; }
  .sunglass_list h2 {
    line-height: 63px;
    font-size: 42px; }
  .sunglass_list h3 {
    line-height: 48px;
    font-size: 32px; }
  @media (max-width: 766px) {
    .sunglass_list {
      margin-top: 40px; }
      .sunglass_list h2 {
        line-height: 36px;
        font-size: 24px; }
      .sunglass_list h3 {
        line-height: 36px;
        font-size: 24px; } }

.sunglass_item {
  margin-top: 32px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .sunglass_item li {
    width: 30.5%;
    margin-right: 24px;
    margin-bottom: 80px; }
    @media (max-width: 992px) {
      .sunglass_item li {
        width: 46.5%;
        margin-bottom: 40px; } }
    .sunglass_item li h4 {
      line-height: 36px;
      font-size: 24px; }
    .sunglass_item li p {
      line-height: 36px;
      font-size: 24px;
      color: #AA0601; }
    @media (max-width: 766px) {
      .sunglass_item li {
        width: 100%;
        margin-right: 0;
        margin-bottom: 64px; } }

.box_doc {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  margin-right: 8px; }

.nextpage {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 80px; }
  .nextpage a {
    display: block;
    color: #555555;
    padding: 12px; }
    .nextpage a:hover {
      background: #000;
      color: white;
      font-weight: normal; }
  .nextpage li {
    border: 1px solid #555555; }
  @media (max-width: 766px) {
    .nextpage {
      margin-bottom: 64px; } }

/*# sourceMappingURL=all.css.map */
